{{>layout/header}}

<div class="container">
    <h1>게시글 상세</h1>

    <div class="col-12">
        <label class="control-label" for="title">제목</label>
        <input class="form-control" type="text" id="title" value="{{post.title}}">
    </div>


    <div class="col-12">
        <label class="control-label" for="content">내용</label>
        <textarea class="form-control" id="content" cols="30" rows="10">{{post.content}}</textarea>
    </div>

    <button class="btn btn-primary" id="updatePost">수정</button>
</div>

<script>
    $('#updatePost').click((e) => {
        let prmObj = {
            title : $("#title").val(),
            content : $("#content").val()
        };

        $.ajax({
            type:'PUT',
            url: '/api/v1/post/' + {{post.id}},
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data : JSON.stringify(prmObj),
        }).done(res => {
            alert('수정 완료!');
            location.href = "/"
        })
    })
</script>

{{>layout/footer}}
