{{>layout/header}}

<div class="container">
    <table class="table" id="post-table">
        <thead>
            <tr>
                <td>No</td>
                <td>제목</td>
                <td>내용</td>
                <td>작성자</td>
                <td></td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <button id="btn_new">새 글 등록하기</button>
</div>

<script src="/static/js/index.js"></script>
{{>layout/footer}}
